@charset "utf-8";

.contents-wrapper {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.about__upper {
  margin-top: 90px;
  margin-left: 180px;
  display: flex;
  flex-direction: row;
}

.heading {
  display: inline-block;
  margin-left: 66px;
  font-size: 35px;
  margin-top: -10px;
  color: var(--color-accent);
  border-bottom: 1px solid var(--color-accent);
}

.about_prof {
  display: block;
  width: 152px;
  height: auto;
  border: 1px solid var(--color-accent);
}

.about-text-container {
  width: 480px;
  margin-top: 81px;
  margin-left: 72px;
  font-feature-settings: 'palt' off;
  line-height: 1.9;
  font-size: 12px;
  text-align: justify;
}

.about-text__name {
  display: block;
  padding-left: 3em;
}

.about-text__detail {
  display: block;
  padding-left: 6em;
}

.about-text__text {
  padding-top: 1.9em;
}

.about-text__specialty_01 {
  display: none;
}

.about-text__specialty_02 {
  display: block;
  text-align: right;
  padding-right: 3em;
  padding-top: 3.8em;
}

.top-image {
  position: sticky;
  top: 0;
  z-index: -9999;
  width: 100%;
  height: 100svh;
  padding: 24px;
  margin-left: calc(10vw - 140px);
}

/* SVG を領域いっぱいにフィット */
.top-image svg {
  transition-duration: 500ms;
  width: 100%;
  height: 100%;
  overflow: visible;
}

@media (max-width: 900px) {
  .contents-wrapper {
    min-width: auto;
    display: block;
  }

  .about-wrapper {
    margin: 0;
    padding: 0;
    align-items: flex-start; /* 左揃えに変更 */
  }

  #logo {
    width: 100vw;
    text-align: center;
  }

  .about__upper {
    margin: 24px 32px 0 32px;
    padding: 0;
    flex-direction: row-reverse;
    display: flex;
  }

  .heading {
    margin: 0;
    font-size: 24px;
    display: block;
  }

  .about_prof {
    display: block;
    width: 24vw;
    max-width: 140px;
    height: auto;
    margin-top: 64px;
    margin-left: 8px;
    border: 1px solid var(--color-accent); /* 外郭に青い線 */
  }

  .about-text-container {
    width: 100%;
    max-width: 600px;
    margin: 0;
    padding: 0 32px;
    font-feature-settings: 'palt' off;
    font-size: 10px;
    -webkit-text-stroke: 0.05px;
    line-height: 2;
    text-align: justify;
  }

  .about-text__name {
    display: block;
    padding-top: 1.9em;
    padding-left: 0;
  }

  .about-text__detail {
    display: block;
    padding-left: 0;
  }

  .about-text__text {
    padding-top: 1.9em;
    padding-left: 3em;
  }

  .about-text__specialty_01 {
    display: inline-block;
    width: 100%;
    padding-left: 0;
    text-align: right;
  }

  .about-text__specialty_02 {
    display: none;
  }

  .top-image {
    position: static;
    top: 0;
    z-index: -9999;
    width: 100%;
    height: auto;
    padding: 40px;
    margin: 0;
  }

  .top-image svg {
    width: 100%;
    height: 100%;
    overflow: visible;
  }
}

header {
  padding-top: 16px;
  padding-left: 48px;
}

#logo {
  font-size: 64px;
  text-decoration: none;
  pointer-events: auto;
  cursor: pointer;
}

@media (max-width: 768px) {
  header {
    padding-top: clamp(8px, 2vw, 20px);
    padding-left: 0;
  }

  #logo {
    font-size: clamp(10px, 9vw, 64px);
    text-align: center;
  }
}
