@charset "utf-8";

:root {
  --color-bg: rgb(255, 255, 255);
  --color-contents-normal: rgb(4, 0, 0);
  --color-accent: rgb(0, 0, 255);
  --color-path: rgb(4, 0, 0);
}

.wf-loading {
  display: none;
}

html {
  font-family: 'a-otf-ryumin-pr6n', serif;
  font-weight: 300;
  font-style: normal;
  text-align: left;
  /* font-feature-settings: 'palt'; */
  color: var(--color-contents-normal);
}

header {
  padding-top: clamp(2px, 0.8vw, 20px);
  padding-left: clamp(10px, 3.35vw, 48px);
}

#logo {
  font-size: clamp(48px, 4.38vw, 80px);
  text-decoration: none;
  pointer-events: auto;
  cursor: pointer;
}

@media (max-width: 768px) {
  header {
    padding-top: clamp(8px, 2vw, 20px);
    padding-left: 0;
  }

  #logo {
    font-size: clamp(10px, 9vw, 64px);
    text-align: center;
  }
}

@view-transition {
  navigation: auto;
}
